*{
    margin: 0;
    padding: 0;
}


.cabecalho {
    background-color: #0E2954;
    color: #fff;
        display: flex;
        justify-content: space-around;
        padding: 15px 0;
        align-items: center;
}

.cabecalho-imagem {
    width: 17%;
    height: 17%;
        
}
.cabecalho-lista{
    list-style: none;

}
 .cabecalho-lista-item {
    margin: 0 16px;
    font-size: 20px;
    font-family:'Franklin Gothic Medium';
        
 }

